* {
    font-family: "Lucida Console", "Courier New", monospace
}

.navbar, .header, .copyright {
    background-color: #1f2937
}

.header-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.header-sub-text {
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
}

.call-to-action {
    background-color: #3882f6;
}

button {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    text-align: center;
    padding: 8px 25px;
    color: #f9faf8;
}

.call-button {
    border: 2px solid #f9faf8;
}